<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="zxx" class="no-js">

<script src="{% static "web/js/vendor/jquery-2.2.4.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="{% static "web/js/tilt.jquery.min.js" %}"></script>
<script src="{% static "web/js/vendor/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static "web/js/easing.min.js" %}"></script>
<script src="{% static "web/js/hoverIntent.js" %}"></script>
<script src="{% static "web/js/superfish.min.js" %}"></script>
<script src="{% static "web/js/jquery.ajaxchimp.min.js" %}"></script>
<script src="{% static "web/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "web/js/owl.carousel.min.js" %}"></script>
<script src="{% static "web/js/owl-carousel-thumb.min.js" %}"></script>
<script src="{% static "web/js/hexagons.min.js" %}"></script>
<script src="{% static "web/js/jquery.nice-select.min.js" %}"></script>
<script src="{% static "web/js/waypoints.min.js" %}"></script>
<script src="{% static "web/js/mail-script.js" %}"></script>
<script src="{% static "web/js/main.js" %}"></script>